meme_deathmatch/config.ini
meme_deathmatch/memenv
meme_deathmatch/downloaded
gameplay/memenv
gameplay/gameplay
downloaded_backup_*
realtime_subs/venv
realtime_subs/config.ini
realtime_subs/__pycache__/
realtime_subs/*.json
realtime_subs/*.sh
desktop_feef/venv
desktop_feed/__pycache__/
venv
