downloaded_backup_*
__pycache__
venv
desktop_feed/__pycache__/
desktop_feed/venv
gameplay/__pycache__/
gameplay/gameplay
gameplay/memenv
meme_deathmatch/__pycache__/
meme_deathmatch/config.ini
meme_deathmatch/downloaded
meme_deathmatch/memenv
realtime_subs/__pycache__/
realtime_subs/config.ini
realtime_subs/venv
realtime_subs/*.json
realtime_subs/*.sh
